*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1300px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 5.8px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 4.8px;
  }
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  padding: 13rem 16rem;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.first .right {
  margin-left: 1rem;
  flex: 1;
}
.first .right h2 {
  color: #502050;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.first .right p {
  color: #937b92;
}
.first .left {
  flex: 1;
  text-align: center;
}
.first .left .left-item {
  background-color: #f7f2f7;
  display: flex;
  padding: 2rem 3rem;
  border-radius: 1rem;
}
.first .left .left-item:nth-child(2) {
  transform: translateX(10%);
}
.first .left .left-item:nth-child(3) {
  transform: translateX(20%);
}
.first .left .left-item:not(:last-child) {
  margin-bottom: 1rem;
}
.first .left .left-item .imgs {
  margin-right: 10rem;
}
.first .left .left-item .imgs img {
  width: 2rem;
}
.first .left .left-item .rated {
  color: #502050;
  font-weight: 700;
}
@media (max-width: 800px) {
  .first {
    display: block;
  }
  .first .right {
    text-align: center;
    margin-bottom: 5rem;
  }
  .first .left .left-item {
    display: block;
  }
  .first .left .left-item:nth-child(1n) {
    transform: translate(0);
  }
  .first .left .left-item .imgs {
    margin-right: 2rem;
  }
}
@media (max-width: 600px) {
  .first {
    display: block;
  }
  .first .right {
    text-align: center;
    margin-bottom: 5rem;
  }
  .first .left .left-item {
    text-align: center;
    display: block;
    margin: 0;
  }
  .first .left .left-item:nth-child(1n) {
    transform: translate(0);
  }
  .first .left .left-item .imgs {
    margin: 0;
  }
}

.second {
  display: flex;
}
.second .second-item {
  border-radius: 1rem;
  background-color: #502050;
  padding: 3.5rem 3rem;
}
.second .second-item:not(:last-child) {
  margin-right: 2rem;
}
.second .second-item:nth-child(2) {
  transform: translateY(10%);
}
.second .second-item:nth-child(3) {
  transform: translateY(20%);
}
.second .second-item .second-item-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.second .second-item .second-item-header .avatar {
  margin-right: 1.5rem;
}
.second .second-item .second-item-header .avatar img {
  width: 4rem;
  border-radius: 50%;
}
.second .second-item .second-item-header .header-name h3 {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 400;
}
.second .second-item .second-item-header .header-name p {
  color: #ee68a4;
  font-size: 1.5rem;
  font-weight: 500;
}
.second .second-item .second-item-info {
  color: #f7f2f7;
}
@media (max-width: 800px) {
  .second {
    display: block;
  }
  .second .second-item:nth-child(1n) {
    transform: translateY(0);
    margin: 0;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
